# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# FFmpeg
ffmpeg*/

# Temporary files
temp/
logs/

# Whisper Models
models/

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

test.py
test_mongo.py